ul {
    list-style-type: disc;
}

ul ul {
    list-style-type: circle;
}

ul ul ul {
    list-style-type: square;
}

ol {
    list-style-type: decimal;
}

ol ol {
    list-style-type: lower-alpha;
}

ol ol ol {
    list-style-type: lower-roman;
}

h1, h2, h3 {
    color: #f57e07;
    font-family: "Trebuchet MS", Verdana, sans-serif;
    padding: 2px 10px 1px 0;
    margin: 0 0 10px 0;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 13px;
}