<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Protocol Preview</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/fontawesome/css/all.min.css}"/>
</head>

<body>

<main role="main" class="container">

    <div class="align-self-center">
        <h2>
            <span class="ui-icon-clock" th:text="${responseInfo.issue.subject}"></span>
            (<a th:href="${responseInfo.issueUrl + responseInfo.issueId}" th:text="${responseInfo.issueId}"></a>)
        </h2>
    </div>

    <div th:each="topJournal : *{responseInfo.topJournals}" class="row mt-1">
        <a th:href="${responseInfo.issueUrl + topJournal.issueId}" th:text="${topJournal.issueId}"></a>:
        <span th:text="${topJournal.issueSubject}"></span>
    </div>

</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
