<ul>
    <li>First
        <ul>
            <li>Second</li>
            <li>Third
                <ol>
                    <li>a</li>
                    <li>b</li>
                    <li>c</li>
                </ol>
                <ul>
                    <li>Sea</li>
                    <li>Ocean</li>
                </ul>
            </li>
            <li>Fourth</li>
        </ul>
    </li>
    <li>Fifth</li>
    <li>Sixth
        <ul>
            <li>Seventh</li>
        </ul>
        <ol>
            <li>1
                <ol>
                    <li>2</li>
                    <li>3</li>
                </ol>
            </li>
            <li>4</li>
        </ol>
    </li>
</ul>

<ol>
    <li>1
        <ol>
            <li>2</li>
            <li>3
                <ul>
                    <li>ha</li>
                    <li>boom
                        <ul>
                            <li>kachacka</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ol>
    </li>
    <li>4</li>
</ol>
