<ul>
    <li>First</li>
    <ul>
        <li>Second</li>
        <li>Third</li>
        <ol>
            <li>a</li>
            <li>b</li>
            <li>c</li>
        </ol>
        <ul>
            <li>Sea</li>
            <li>Ocean</li>
        </ul>
        <li>Fourth</li>
    </ul>
    <li>Fifth</li>
    <li>Sixth</li>
    <ul>
        <li>Seventh</li>
    </ul>
    <ol>
        <li>1</li>
        <ol>
            <li>2</li>
            <li>3</li>
        </ol>
        <li>4</li>
    </ol>
</ul>

<ol>
    <li>1</li>
    <ol>
        <li>2</li>
        <li>3</li>
        <ul>
            <li>ha</li>
            <li>boom</li>
            <ul>
                <li>kachacka</li>
            </ul>
        </ul>
    </ol>
    <li>4</li>
</ol>
