html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px; /* bottom = footer height */
    padding: 25px;
    font-family: Helvetica, Arial, sans-serif;
}

footer {
    background-color: darkgrey;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
    overflow: hidden;
    font-family: Helvetica, Arial, sans-serif;
}